<div class="container" style="margin-bottom: 220px;">
    <div class="page-title">
        <h1 class="tracking-in-expand">Changement du mot de passe</h1>
        <hr style="color: blue;">
    </div>
<form id="form" name="form" method="post" action="/sge/portal/changePassword.faces" enctype="multipart/form-data">
<input type="hidden" name="form" value="form" />

    <div id="messagesRegion" aria-label="form feedback" aria-live="assertive" aria-relevant="additions">
<div id="form:messages">
</div>
    </div>

<p>Veuillez saisir votre mot de passe actuel et le nouevau mot de passe dans les champs "Nouveau mot de passe" et "Confirmation mot de passe".<br />
Le nouveau mot de passe doit avoir une longueur minimale de <strong>8 caractères</strong>.</p>

<form id="form:form" name="form:form" method="post" action="/sge/portal/changePassword.faces" enctype="application/x-www-form-urlencoded">
<input type="hidden" name="form:form" value="form:form" />
<table id="form:form:matchGrid" cellpadding="5">
<tbody >
<tr >
<td class="sge-width-10p"><label for="form:form:currentPassword" class="text-nowrap"><strong>* Mot de passe actuel</strong></label></td>
<td><input  class="form-control form-control-user col-9" type="text" name="MotpassUser1" id="MotpassUser1"  placeholder="Mot de passe ..."   [(ngModel)]="MotpassUser1">
</td>
</tr>
<tr>
    
<td class="sge-width-10p"><label for="form:form:password1" class="text-nowrap"><strong>* Nouveau mot de passe</strong></label></td>
<td ><input  class="form-control form-control-user col-9" type="text" name="MotpassUser" id="MotpassUser" placeholder="Nouveau mo de passe ..."   [(ngModel)]="MotpassUser">
</td>
</tr>
<tr>
<td class="sge-width-10p"><label for="form:form:password2" class="text-nowrap"><strong>* Confirmation mot de passe</strong></label></td>
<td ><input  class="form-control form-control-user col-9" type="password" name="MotpassUser2" id="MotpassUser2" [(ngModel)]="MotpassUser2" >
</td>
</tr>
</tbody>
</table>
<button  class="btn btn-success" (click)="updatePassword()" type="button"> Enregistrer </button>
<input type="hidden" style="height:70%;" name="javax.faces.ViewState" id="j_id1:javax.faces.ViewState:6" value="-2768196559232724408:-3722116657484726659" autocomplete="off" />
</form>
<input type="hidden" name="javax.faces.ViewState" id="j_id1:javax.faces.ViewState:7" value="-2768196559232724408:-3722116657484726659" autocomplete="off" />
</form>
</div>