
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper"> 

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
    <div id="content">

             
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    
                    <!-- Page Heading -->
                
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-1" >
                            <h6 class="h3 mb-2 text-gray-800">Veuillez choisir un assuré parmi la liste suivante:</h6>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #007bff;">
            <h5 class="modal-title" id="exampleModalLabel" style="color: white;">{{Modaltitle}}</h5>
            <!--<button type="button" class="close " style="color: white;" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>-->
          </div>
        <div class="modal-body">
            <app-assure-detail [assur]="assur" *ngIf="ActivateAddDetailAssurComp"></app-assure-detail>
        </div>
      </div>
    </div>
  </div>
                        </div>
                          <!-- Button trigger modal -->
                          <div class="d-flex flex-row col-4">
                            <input [(ngModel)]="IdentiteFilter" class="form-control" 
                            (keyup)="filterFn()" placeholder="chercher ...">
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead style="color: white; background-color: #007bff;">
                                        <tr>
                                            <th style="width: 25%;">Matricule</th>
                                            <th style="width: 25%;">Identité</th>
                                            <th style="width: 25%;">Site</th>
                                            <th style="width: 25%;">Numéro adhérent</th>                                   
                                          
                                        </tr>
                                    </thead>
                                    <tbody> 
                                        <tr *ngFor="let dataItem of UsersList | paginate: { itemsPerPage: 10, currentPage: p }">
                                            <td style="width: 10%;">{{dataItem.Matricule}}</td>
                                            <td style="width: 10%;"><button type="button" class="btn btn-transparent mr-1"
                                                data-toggle="modal" data-target="#exampleModal"
                                                (click)="detailClick(dataItem)" data-backdrop="static" data-keyboard="false"
                                                 style="color: blue;background-color: transparent; border-color: transparent;">
                                                {{dataItem.Identite}}</button></td>
                                            <td style="width: 10%;">{{dataItem.SiteCentralisateur}}</td>
                                            <td style="width: 15%;">{{dataItem.Matriculecnss}}</td>
                                           
                                        </tr>
                                    </tbody>
                                </table>
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </div>
                        </div>
                        <router-outlet></router-outlet>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>


</body>


