<div class="page-title">
                        <h1 class="tracking-in-expand">Mon profil</h1>
                        <hr class="col-9.5" style="color: blue; ">
                    </div>
<form id="form" name="form" method="post" action="/sge/portal/myProfile.faces" enctype="multipart/form-data">
<input type="hidden" name="form" value="form" />


                    <div id="messagesRegion" aria-label="form feedback" aria-live="assertive" aria-relevant="additions">
		<div id="form:messages">
		</div>
                    </div>
            <div class="container" style="margin-left: 0px;">
                <div class="row">
                   
                    <div class="sge-user-profile-info col-lg-3 col-md-12 text-center">
                        <img class="img-profile rounded-circle"
                                    src="assets/img/undraw_profile.svg">
                                    <h2>{{Nom()}}</h2>
                                    <p>Login : </p>
                                    <p>{{Email()}}</p>
                                    <p>Matricule : </p>
                                    <p>{{Cin()}}</p>

                    </div>
                    <div class="col-lg-9 col-md-12">
                        <h3 class="my-profile-section-h">Contact</h3>
                        <hr class="col-9" style="color: blue; ">
                        <dl class="row">
                            <dt class="col-sm-3">E-mail :</dt>
                            <dd class="col-sm-9">{{Email()}}</dd>
                            <dt class="col-sm-3">Téléphone :</dt>
                            <dd class="col-sm-9">{{Phone()}}</dd>
                            
                        </dl>
                        <h3 class="my-profile-section-h">Informations personnelles</h3>
                        <hr class="col-9" style="color: blue; ">
                        <dl class="row">
                            <dt class="col-sm-3">Nom :</dt>
                            <dd class="col-sm-9">{{Nom()}}
                            </dd>
                            <dt class="col-sm-3">Identite :</dt>
                            <dd class="col-sm-9">{{Identite()}}</dd>
                            <dt class="col-sm-3">Adresse :</dt>
                            <dd class="col-sm-9">
                                {{Adresse()}}
                            </dd>
                        </dl>
                        <h3 class="my-profile-section-h">Pièce d'identité</h3>
                        <hr class="col-9" style="color: blue; ">
                        <dl class="row">
                            <dt class="col-sm-3">Nationalité :</dt>
                            <dd class="col-sm-9">{{Nationalite()}}</dd>
                            <dt class="col-sm-3">Cin :</dt>
                            <dd class="col-sm-9">{{Cin()}}</dd>
                            <dd class="col-sm-9">
                            </dd>
                        </dl>
                    </div>
                    <div class="w-100"></div>
                </div>
            </div>
</form>
       
    